.container {
  margin: 0 auto;
  max-width: 960px;
}
.jumbotron {
    background-image: url("../images/t-rex-mario-thumb-large.jpg");
    background-color: #cccccc;
    background-size: contain;
}
.jumbotron-fade {
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 6px;
}
.jumbotron h1 {
	-webkit-text-stroke-width: 1px #525358;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
}
.btn {
  color: #525358;
  background-color: #f9f9f9;
  border-color: #398439;
}